[submodule "gem5"]
	path = gem5
	# url = https://github.com/gem5/gem5.git
	# url = https://github.com/MaxwellJung/gem5.git
	url = https://github.com/Zasaimster/gem5.git
[submodule "hw1/cs251a-microbench"]
	path = hw1/cs251a-microbench
	url = https://github.com/PolyArch/cs251a-microbench.git
